@media screen and (min-width: 200px) {
  /* start hero-section */
  .hero-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 54px;
    isolation: isolate;
    background-color: var(--background);
    background-image: url("../img/blue_shapes.png");
    background-position: center;
    background-size: 130% 70%;
    background-repeat: no-repeat;
  }
  .hero-section::after {
    content: url("../img/hero-snake.png");
    position: absolute;
    width: 100%;
    height: 80%;
    inset: 0;
    top: -29px;
    left: -250px;
    z-index: -1;
  }
  .hero-section .logo {
    width: 100px;
    margin-bottom: 37px;
  }
  .hero-section .info_container .header_info {
    width: 100%;
  }
  .hero-section .info_container .header_info h1 {
    width: 100%;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: 14px;
  }
  .hero-section .info_container .header_info h1 span {
    display: block;
  }
  .hero-section .info_container .header_info .descr {
    max-width: 400px;
    text-align: left;
  }
  .hero-section .info_container .header_info > div {
    margin-bottom: 40px;
  }
  .hero-section .info_container .header_info .mobile_animation {
    display: block;
    margin-bottom: 40px;
  }
  .hero-section .info_container {
    position: relative;
  }
  .hero-section .info_container input {
    width: 100%;
    background: #ffffff;
    border: none;
    box-shadow: 2px 2px 24px rgba(17, 108, 220, 0.24);
    border-radius: 22px;
    padding: 17px 12px;
    color: var(--accent-blue);
    font-family: "Liberation_Sans_Bold";
    font-size: 16px;
  }
  .hero-section .info_container input::placeholder {
    font-family: "Liberation_Sans_Bold";
    color: #000;
    opacity: 0.3;
  }
  .hero-section .info_container button {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% + 24px);
    border-radius: 22px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  /* end hero-section */
  /* start services-section */
  .section-services {
    /* position: relative; */
    padding-top: 122px;
    padding-bottom: 100px;
    /* isolation: isolate; */
  }
  .section-services .text-container h2 {
    color: var(--accent-black);
    margin-bottom: 22px;
  }
  .section-services .text-container h2 span {
    color: var(--accent-blue);
  }
  .section-services .text-container p {
    width: min(580px, 100%);
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .section-services .text-container {
    margin-bottom: 40px;
  }
  .section-services .movie-container {
    display: none;
  }
  .section-services .content-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-services .content-container ul li .front-container,
  .section-services .content-container ul li .back-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.5s ease;
  }
  .section-services .content-container ul li .front-container {
    transform: perspective(600px) rotateY(0);
  }
  .section-services .content-container ul li .back-container {
    transform: perspective(600px) rotateY(180deg);
  }
  .section-services .content-container ul li:first-child {
    margin-bottom: 40px;
    padding-top: 46px;
  }
  .section-services .content-container ul li img {
    margin: 0 auto 22px auto;
  }
  .section-services .content-container ul li .front-container > p {
    text-transform: capitalize;
    color: var(--accent-black);
  }
  .section-services .content-container ul li p:hover {
    cursor: default;
  }
  .section-services .content-container ul li {
    position: relative;
    width: min(400px, 80%);
    height: 247px;
    padding-top: 28.5px;
    overflow: hidden;
    box-shadow: 1px 1px 30px rgba(17, 109, 220, 0.1);
    border-radius: 24px;
  }
  .section-services .content-container ul li .back-container {
    position: absolute;
    width: 100%;
    inset: 0;
    height: inherit;
    display: flex;
    align-items: center;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: inherit;
    background-color: var(--accent-blue);
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-delay: 200ms;
  }
  .section-services .content-container ul li .back-container p {
    color: #ffffff;
  }
  .section-services .content-container ul li:hover .back-container {
    opacity: 1;
    transform: perspective(600px) rotateY(0);
  }
  .section-services .content-container ul li:hover .front-container {
    opacity: 1;
    transform: perspective(600px) rotateY(-180deg);
  }
  /* end services-section */
  /* start lang-services-section */
  .section-lang-services {
    padding-bottom: 60px;
  }
  .section-lang-services h2 {
    color: var(--accent-black);
    margin-bottom: 22px;
  }
  .section-lang-services h2 span {
    display: block;
  }
  .section-lang-services p {
    color: #000000;
    margin-bottom: 22px;
  }
  .section-lang-services ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-lang-services ul li {
    width: 46%;
    padding: 34px 22px;
    box-shadow: 1px 1px 30px rgba(17, 109, 220, 0.1);
    border-radius: 16px;
    transition: all ease-in-out 0.3s;
  }
  .section-lang-services ul li:first-child h3::before {
    content: url("../svg/doc-translate.svg");
  }
  .section-lang-services ul li:nth-child(2) h3::before {
    content: url("../svg/video-sub.svg");
  }
  .section-lang-services ul li:nth-child(3) h3::before {
    content: url("../svg/website-content.svg");
  }
  .section-lang-services ul li:last-child h3::before {
    content: url("../svg/post-editing.svg");
  }
  .section-lang-services ul li h3::before {
    width: 40px;
    height: 39px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .section-lang-services ul li:nth-child(-n + 2) {
    margin-bottom: 8%;
  }
  .section-lang-services ul li h3:hover {
    cursor: default;
  }
  /* end lang-services-section */
  /* start industries-services-section */
  .section-industries {
    padding-top: 54px;
    padding-bottom: 65px;
    background: radial-gradient(
      100% 100% at 0% 0%,
      rgba(255, 255, 255, 0) 0%,
      rgba(239, 244, 248, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-x: 30% 100%;
    border-color: #000;
  }
  .section-industries::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background: rgba(0, 104, 223, 0.5);
    filter: blur(150px);
    transform: rotate(28.46deg);
  }
  .section-industries .container-fluid {
    position: relative;
  }
  .section-industries .container-fluid::before {
    content: "";
    position: absolute;
    width: min(7vw, 65px);
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
    background-color: var(--accent-blue);
  }
  .section-industries .content-container {
    padding-left: 9vw;
  }
  .section-industries .content-container h2 {
    width: 260px;
    padding-top: 31px;
    text-align: left;
    margin-bottom: 24px;
  }
  .section-industries .content-container p {
    width: 270px;
    text-align: left;
  }
  .section-industries .swiper {
    margin-left: 140px;
  }
  .section-industries .btn-container {
    width: calc(100vw - 140px);
    display: flex;
    margin-left: 140px;
    margin-top: 30px;
    justify-content: center;
  }
  .section-industries .btn-container button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
  }
  .section-industries .swiper-btn-prev {
    transform: rotate(180deg);
    margin-right: 40px;
  }
  .section-industries .swiper-btn-prev.swiper-button-disabled,
  .section-industries .swiper-btn-next.swiper-button-disabled {
    --color1: #c8cbcd;
  }
  .section-industries button svg {
    width: 50px;
    height: 50px;
  }
  .section-industries .swiper .swiper-slide {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  .section-industries .swiper .swiper-slide h3 {
    width: 100%;
    display: block;
  }
  .section-industries .swiper .swiper-slide .img-content-container {
    position: relative;
    display: block;
    height: 255px;
    margin-bottom: 20px;
  }
  .section-industries .swiper .swiper-slide .front-container img {
    width: 200px;
    height: 255px;
  }
  .section-industries .swiper .swiper-slide .back-container,
  .section-industries .swiper .swiper-slide .front-container {
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.5s ease;
  }
  .section-industries .swiper .swiper-slide .front-container {
    transform: perspective(600px) rotateY(0);
  }
  .section-industries .swiper .swiper-slide .back-container {
    transform: perspective(600px) rotateY(180deg);
  }
  .section-industries .swiper .swiper-slide .back-container {
    height: inherit;
    display: flex;
    align-items: center;
    padding: 1em;
    border-radius: 16px;
    filter: drop-shadow(0px 16px 30px rgba(17, 109, 220, 0.1));
    background-color: var(--accent-blue);
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-delay: 200ms;
  }
  .section-industries .swiper .swiper-slide .back-container p {
    text-align: left;
    font-size: 12px;
    color: #fff;
  }
  .section-industries .swiper .swiper-slide:hover .back-container {
    transform: perspective(600px) rotateY(0);
  }
  .section-industries .swiper .swiper-slide:hover .front-container {
    transform: perspective(600px) rotateY(-180deg);
  }
  /* end industries-services-section */
  /* start popular-languages-section */
  .section-popular-languages {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .section-popular-languages .img-container {
    display: none;
  }
  .section-popular-languages .content-container h2 {
    text-align: left;
    margin-bottom: 24px;
  }
  .section-popular-languages .content-container h2 span {
    display: block;
  }
  .section-popular-languages .content-container p {
    text-align: left;
    margin-bottom: 40px;
  }
  .section-popular-languages .content-container ul {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }
  .section-popular-languages .content-container ul li {
    width: 40%;
    display: flex;
    align-items: center;
  }
  .section-popular-languages .content-container ul li .lang-container {
    display: table;
    margin-left: 14px;
  }
  .section-popular-languages .content-container ul li .lang-container p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 60px;
  }
  .section-popular-languages .content-container ul li:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
  .section-popular-languages .content-container ul li:nth-child(5) {
    position: relative;
  }
  .section-popular-languages .content-container ul li:nth-child(5)::after {
    position: absolute;
    content: url("../svg/arrow-black.svg");
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
  }
  /* end popular-languages-section */
  /* start prices-section */
  .section-prices {
    position: relative;
    background: var(--background);
    backdrop-filter: blur(42px);
    padding: 22px 0 40px 0;
    background-image: url("../img/blue_shapes.png");
    background-size: cover;
    background-position: 20% 0;
    background-repeat: no-repeat;
  }
  .section-prices::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    right: 0;
    background: rgba(0, 104, 223, 0.25);
    filter: blur(100px);
    transform: matrix(0.9, 0.59, -0.38, 0.86, 0, 0);
  }
  .section-prices h2 {
    max-width: 269px;
    margin: 0 auto 14px auto;
  }
  .section-prices .container > p {
    max-width: 300px;
    margin: 0 auto 40px auto;
  }
  .section-prices ul li {
    position: relative;
    width: min(370px, 100%);
    height: 370px;
    padding: 40px 2em;
    background-color: #fff;
    box-shadow: 1px 1px 30px rgba(17, 109, 220, 0.1);
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .section-prices ul li > span {
    position: absolute;
    width: 80%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 0;
    font-family: "Liberation_Sans_Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--accent-blue);
    color: #fff;
    border-radius: 14px;
  }
  .section-prices ul li .item-container {
    position: relative;
    height: 100%;
  }
  .section-prices ul li:not(:last-child) {
    margin-bottom: 24px;
  }
  .section-prices ul li:first-child {
    margin-bottom: 42.6px;
  }
  .section-prices ul li h3 {
    font-family: "Merriweather", serif;
    font-size: 18px;
    margin-bottom: 6px;
  }
  .section-prices ul li .descr-label {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    margin-bottom: 24px;
  }
  .section-prices ul li .pages {
    color: rgba(0, 0, 0, 0.6);
  }
  .section-prices ul li .words {
    font-family: "Liberation_Sans_Bold";
    font-size: 18px;
    margin-bottom: 31px;
  }
  .section-prices ul li .price {
    font-family: "Merriweather", serif;
    font-size: 36px;
    line-height: 140%;
    color: var(--accent-blue);
  }
  .section-prices ul li .price-btn {
    position: absolute;
    width: 60%;
    padding: 11px;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 18px;
  }
  .section-prices ul li input {
    display: block;
    border: none;
    width: 100%;
    height: 50px;
    padding: 14px 10px;
    box-shadow: 2px 2px 24px rgba(17, 108, 220, 0.12);
    border-radius: 18px;
    margin: 0 auto;
    font-family: "Liberation_Sans";
    font-size: 16px;
  }
  .section-prices ul li input::placeholder {
    font-family: "Liberation_Sans";
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.3);
  }
  /* end prices-section */
  /* start benefits-section */
  .section-benefits {
    padding: 100px 0;
  }
  .section-benefits h2 {
    margin-bottom: 14px;
  }
  .section-benefits .container > p {
    max-width: 343px;
    margin: 0 auto 58px auto;
  }
  .section-benefits ul {
    max-width: 362px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }
  .section-benefits ul li {
    position: relative;
    width: min(155px, 45%);
    height: 155px;
    display: table;
    padding: 1em;
    border: 1px solid rgba(0, 104, 223, 0.16);
    box-shadow: 1px 1px 30px rgba(0, 104, 223, 0.1);
    border-radius: 16px;
  }
  .section-benefits ul li:not(:nth-child(n + 7)) {
    margin-bottom: 52px;
  }
  .section-benefits ul li p {
    display: table-cell;
    vertical-align: middle;
  }
  .section-benefits ul li span {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-family: "Liberation_Sans_Bold";
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    line-height: 40px;
    border-radius: 6px;
    background-color: var(--accent-blue);
    color: #fff;
  }
  /* end benefits-section */
  /* start team-section */
  .section-team h2 {
    margin-bottom: 22px;
  }
  .section-team .container > p {
    max-width: 490px;
    margin: 0 auto 28px auto;
  }
  .section-team .container > ul .item {
    width: 233px;
    height: 328px;
    border: 1px solid rgba(0, 104, 223, 0.16);
    box-shadow: 1px 1px 30px rgba(0, 104, 223, 0.1);
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    display: none;
  }
  .section-team .container > ul .item:not(:last-child) {
    margin-bottom: 20px;
  }
  .section-team .container > ul .item.visible {
    display: block;
  }
  .section-team .container > ul .item .item-content-container {
    padding: 5px 1em;
  }
  .section-team .container > ul .item .item-content-container > p {
    margin-bottom: 6px;
  }
  .section-team .container > ul .item picture img {
    max-height: 185px;
    border-radius: inherit;
    margin-right: auto;
    margin-left: auto;
  }
  .section-team .container > ul .item ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .section-team .container > ul .item ul li {
    padding: 4px 10px;
    border-radius: 12px;
    background-color: #eff4f8;
  }
  .section-team .container > ul .item ul li:last-child {
    margin-top: 10px;
  }
  .section-team .container > ul .item ul li p {
    color: rgba(60, 60, 67, 0.6);
  }
  .section-team .show-more-btn {
    display: block;
    padding: 14px 36px;
    border-radius: 26px;
    margin-right: auto;
    margin-left: auto;
  }
  .section-team .container > ul {
    margin-bottom: 40px;
  }
  /* end team-section */
}
@media screen and (min-width: 768px) {
  /* start hero-section */
  .hero-section::after {
    top: 0;
    max-width: 100%;
  }
  .hero-section .info_container .header_info h1 {
    font-size: 38px;
  }
  .hero-section .info_container .header_info .descr {
    max-width: 500px;
    font-size: 20px;
  }
  .hero-section .input_container button {
    width: 40%;
    left: unset;
    top: unset;
    right: 0;
    z-index: 2;
  }
  /* end hero-section */
  /* start services-section */
  .section-services .content-container ul {
    justify-content: space-between;
  }
  .section-services .content-container ul li {
    width: 45%;
  }
  /* end services-section */
  /* start lang-services-section */
  .section-lang-services h2 span {
    display: inline;
  }
  .section-lang-services ul li {
    width: min(315px, 46%);
  }
  .section-lang-services ul {
    max-width: 685px;
    margin-right: auto;
    margin-left: auto;
  }
  .section-lang-services p {
    display: block;
    max-width: 630px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }
  /* end lang-services-section */
  /* start industries-services-section */
  .section-industries .content-container {
    margin-bottom: 24px;
  }
  .section-industries .content-container h2 {
    width: 700px;
  }
  .section-industries .content-container p {
    width: 420px;
    padding-left: 70px;
  }
  /* end industries-services-section */
  /* start popular-languages-section */
  .section-popular-languages .section-flex-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .section-popular-languages .img-container {
    width: 45%;
    display: block;
  }
  .section-popular-languages .content-container {
    width: 50%;
  }
  /* end popular-languages-section */
  /* start prices-section */
  .section-prices {
    padding-top: 40px;
  }
  .section-prices h2 {
    max-width: 100%;
  }
  .section-prices .container > p {
    max-width: 100%;
  }
  .section-prices ul {
    display: flex;
    flex-wrap: wrap;
  }
  .section-prices ul li {
    width: 45%;
  }
  .section-prices ul li:last-child {
    width: 60%;
  }
  /* end prices-section */
  /* start benefits-section */
  .section-benefits .container > p {
    max-width: 500px;
  }
  .section-benefits ul {
    max-width: 617px;
    justify-content: center;
  }
  .section-benefits ul li:not(:nth-child(3n)) {
    margin-right: 50px;
  }
  .section-benefits ul li:last-child {
    margin-right: 0;
  }
  /* end benefits-section */
  /* start team-section */
  .section-team .container > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-team .container > ul .item {
    display: block;
    /* width: 30%; */
  }
  .section-team .show-more-btn {
    display: none;
  }
  /* end team-section */
}
@media screen and (min-width: 992px) {
  /* start hero-section */
  .hero-section .header_info {
    display: flex;
    flex-wrap: wrap;
  }
  .hero-section .info_container .header_info .mobile_animation {
    width: 450px;
    margin-bottom: 0;
  }
  .hero-section .info_container .info_wrap {
    margin-bottom: 30px;
  }
  /* end hero-section */
  /* start benefits-section */
  .section-benefits ul {
    max-width: 760px;
    justify-content: space-between;
  }
  .section-benefits ul li:nth-child(-n + 8) {
    margin-right: 0;
  }
  .section-benefits ul li:nth-child(n + 5) {
    margin-bottom: 0;
  }
  /* end benefits-section */
}
@media screen and (min-width: 1200px) {
  /* start hero-section */
  .hero-section {
    background-size: 130% 100%;
  }
  .hero-section .logo svg {
    width: 200px;
  }
  .hero-section .logo {
    margin-bottom: 60px;
  }
  .hero-section::after {
    max-height: auto;
    min-height: 150%;
    height: 150%;
  }
  .hero-section .header_info {
    justify-content: space-between;
  }
  .hero-section .info_container .header_info .mobile_animation {
    width: 40vw;
    padding-top: 0;
  }
  .hero-section .info_container .header_info h1 {
    font-size: 48px;
  }
  .hero-section .info_container .header_info .descr {
    font-size: clamp(1.8vw, 32px, 2.4vw);
  }
  .hero-section .input_container {
    position: absolute;
    bottom: 4vw;
  }
  .hero-section .info_container .header_info > div {
    padding-top: 100px;
  }
  .hero-section .input_container input {
    width: 50vw;
    height: min(80px, 6vw);
    border-radius: 35px;
    font-size: min(24px, 1.4vw);
    padding-left: 30px;
  }
  .hero-section .input_container input::placeholder {
    font-size: min(24px, 1.4vw);
  }
  .hero-section .input_container button {
    height: min(80px, 6vw);
    border-radius: 35px;
    font-size: min(24px, 1.4vw);
  }
  /* end hero-section */
  /* start services-section */
  .section-services .content-container {
    width: 50%;
  }
  .section-services .content-container ul li {
    height: 268px;
  }
  .section-services .content-container ul li .front-container p,
  .section-services .content-container ul li .back-container p {
    font-size: 18px;
  }
  .section-services .content-container ul li:first-child {
    margin-bottom: 0;
  }
  .section-services .container {
    display: flex;
    justify-content: space-between;
  }
  .section-services .movie-container {
    width: 45%;
    height: inherit;
    display: block;
  }
  .section-services .movie-container .movie {
    width: 100%;
    height: 100%;
  }
  /* end services-section */
  /* start lang-services-section */
  .section-lang-services ul li h3 {
    font-size: 18px;
  }
  .section-lang-services ul li h3::before {
    width: 60px;
    height: auto;
  }
  .section-lang-services ul li {
    height: 232px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-lang-services {
    padding-bottom: 0;
  }
  .section-lang-services .container {
    position: relative;
    padding-bottom: 60px;
  }
  .section-lang-services .container::before {
    position: absolute;
    inset: 0;
    content: "";
    background-image: url("../img/yellow_square.png");
    background-size: 10vw 10vw;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .section-lang-services .container::after {
    position: absolute;
    inset: 0;
    content: "";
    background-image: url("../img/blue_square.png");
    background-size: 10vw 10vw;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  /* end lang-services-section */
  /* start industries-services-section */
  .section-industries {
    position: relative;
    isolation: isolate;
  }
  .section-industries .content-container h2 {
    width: 900px;
    margin-bottom: 30px;
  }
  .section-industries .content-container p {
    width: 600px;
    margin-bottom: 40px;
  }
  .section-industries .btn-container button svg {
    width: 65px;
  }
  .section-industries .swiper .swiper-slide .front-container img {
    width: 300px;
    height: 433px;
  }
  .section-industries .swiper .swiper-slide .front-container {
    height: fit-content;
  }
  .section-industries .swiper .swiper-slide .img-content-container {
    height: 433px;
    margin-bottom: 30px;
  }
  .section-industries .swiper .swiper-slide h3 {
    display: block;
  }
  .section-industries .swiper .swiper-slide .back-container {
    height: 433px;
    border-radius: 33px;
    padding: 1.5em;
  }
  .section-industries .swiper .swiper-slide .back-container p {
    font-size: 18px;
  }
  .section-industries .swiper .swiper-slide {
    width: 300px;
    height: 490px;
  }
  .section-industries .btn-container {
    margin-top: 50px;
  }
  /* end industries-services-section */
  /* start popular-languages-section */
  .section-popular-languages {
    padding-top: 100px;
  }
  .section-popular-languages .section-flex-wrapper {
    max-width: 1375px;
    margin-right: auto;
    margin-left: auto;
  }
  /* end popular-languages-section */
  /* start prices-section */
  .section-prices h2 {
    margin-bottom: 40px;
  }
  .section-prices .container > p {
    margin-bottom: 50px;
  }
  .section-prices ul li {
    width: 30%;
  }
  .section-prices ul li h3 {
    font-size: 24px;
  }
  .section-prices ul li .words {
    font-size: 20px;
  }
  .section-prices ul li .price-btn {
    padding: 11px 0;
    font-size: 18px;
  }
  .section-prices ul li:last-child {
    width: 30%;
  }
  /* end prices-section */
  /* start benefits-section */
  .section-benefits h2 {
    margin-bottom: 40px;
  }
  .section-benefits .container > p {
    max-width: 780px;
    margin-bottom: 70px;
  }
  .section-benefits ul {
    max-width: 980px;
  }
  .section-benefits ul li {
    width: 200px;
  }
  .section-benefits ul li span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 9px;
  }
  /* end benefits-section */
  /* start team-section */
  .section-team h2 {
    margin-bottom: 40px;
  }
  .section-team .container > p {
    max-width: 950px;
    margin-bottom: 40px;
  }
  .section-team .container > ul {
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-team .container > ul .item {
    width: 300px;
    height: 410px;
  }
  .section-team .container > ul .item:nth-child(odd) {
    margin-top: 60px;
  }
  .section-team .container > ul .item picture img {
    max-height: 220px;
  }
  .section-team .container > ul .item .item-content-container {
    margin-top: 10px;
  }
  .section-team .container > ul .item .item-content-container > p {
    margin-bottom: 15px;
  }
  /* end team-section */
}
@media screen and (min-width: 1920px) {
  /* start hero-section */
  .hero-section {
    padding-top: 65px;
    padding-bottom: 65px;
    background-size: 140%;
  }
  .hero-section::after {
    height: unset;
    min-height: unset;
    max-height: unset;
  }
  .hero-section .logo svg {
    width: 260px;
  }
  .hero-section .info_container .header_info h1 span {
    display: inline;
  }
  .hero-section .info_container .header_info h1 {
    width: 874px;
    margin-bottom: 40px;
  }
  .hero-section .info_container .header_info > div {
    width: unset;
    padding-top: 200px;
  }
  .hero-section .info_container .header_info .descr {
    min-width: 814px;
    font-size: 32px;
  }
  .hero-section .info_container .header_info .mobile_animation {
    width: 630px;
    padding-top: 0;
  }
  .hero-section .input_container input {
    width: 623px;
    height: 66px;
    font-size: 25px;
    border-radius: 22px;
  }
  .hero-section .input_container button {
    height: 66px;
    font-size: 18px;
    border-radius: 22px;
  }
  /* end hero-section */
  /* start services-section */
  .section-services {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .section-services .text-container h2 {
    margin-bottom: 30px;
  }
  .section-services .text-container p {
    margin-bottom: 34px;
  }
  /* end services-section */
  /* start lang-services-section */
  .section-lang-services .container {
    padding-bottom: 160px;
  }
  .section-lang-services .container::before,
  .section-lang-services .container::after {
    background-size: unset;
  }
  /* end lang-services-section */
  /* start industries-services-section */
  .section-industries {
    background-size: 430px;
    padding-top: 175px;
    padding-bottom: 175px;
  }
  .section-industries::before {
    width: 460px;
  }
  .section-industries .section-wrapper {
    display: flex;
  }
  .section-industries .content-container h2 {
    width: 545px;
    padding-top: 100px;
    margin-bottom: 64px;
  }
  .section-industries .content-container p {
    width: 410px;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: auto;
  }
  .section-industries .swiper .swiper-slide .img-content-container {
    min-height: 520px;
  }
  .section-industries .swiper .swiper-slide .front-container img {
    width: 360px;
    height: 520px;
  }
  .section-industries .swiper .swiper-slide .back-container {
    height: 520px;
    border-radius: 33px;
    padding: 1.5em;
  }
  .section-industries .swiper .swiper-slide {
    width: 360px;
    height: 590px;
  }
  .section-industries .btn-container {
    position: absolute;
    z-index: 111;
    left: calc(calc(-50% + 400px) + 3vw);
    bottom: 0;
  }
  /* end industries-services-section */
  /* start popular-languages-section */
  .section-popular-languages {
    padding-top: 160px;
    padding-bottom: 213px;
  }
  .section-popular-languages .section-flex-wrapper {
    max-width: 1472px;
    height: fit-content;
    justify-content: start;
  }
  .section-popular-languages .content-container {
    width: 61%;
  }
  .section-popular-languages .content-container h2 span {
    display: inline;
  }
  .section-popular-languages .content-container p {
    width: 829px;
  }
  .section-popular-languages .content-container ul {
    margin-left: unset;
  }
  .section-popular-languages .img-container {
    width: 568px;
    margin-right: 74px;
  }
  .section-popular-languages .container {
    position: relative;
  }
  .section-popular-languages .container::after {
    position: absolute;
    content: url("../img/blue_square.png");
    transform: translate(-30%, -60%);
    z-index: -1;
  }
  /* end popular-languages-section */
  /* start price-section */
  .section-prices {
    padding: 112px 0 112px 0;
    background-size: 150%;
    background-position: center;
  }
  .section-prices::before {
    bottom: 0;
  }
  .section-prices ul li {
    max-width: unset;
    width: 400px;
    height: 435px;
  }
  .section-prices ul li:last-child {
    width: 400px;
  }
  .section-prices ul li > span {
    font-size: 24px;
    padding: 9px 0;
    border-radius: 16px;
  }
  .section-prices ul li h3 {
    font-size: 32px;
  }
  .section-prices ul li .descr-label,
  .section-prices ul li .pages {
    font-size: 24px;
  }
  .section-prices ul li .words {
    font-size: 28px;
  }
  .section-prices ul li:last-child .descr-label {
    margin-bottom: 36px;
  }
  .section-prices ul li input {
    height: 57px;
  }
  .section-prices ul li input::placeholder {
    font-size: 18px;
  }
  .section-prices ul li input {
    font-size: 18px;
  }
  /* end price-section */
  /* start benefits-section */
  .section-benefits {
    padding-bottom: 200px;
  }
  .section-benefits .container {
    position: relative;
  }
  .section-benefits .container::after {
    position: absolute;
    content: url("../img/blue_square.png");
    bottom: 0;
    right: -110px;
    transform: translateY(65%);
  }
  .section-benefits .container > p {
    margin-bottom: 90px;
  }
  .section-benefits ul {
    max-width: 1152px;
  }
  .section-benefits ul li {
    width: 240px;
    height: 180px;
    padding: 30px;
  }
  .section-benefits ul li:nth-child(-n + 4) {
    margin-bottom: 74px;
  }
  .section-benefits ul li span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    border-radius: 10px;
  }
  /* end benefits-section */
  /* start team-section */
  .section-team .container {
    position: relative;
  }
  .section-team .container::after {
    position: absolute;
    content: url("../img/yellow_square.png");
    left: 0;
    bottom: 0;
    transform: translate(-100%, 50%);
  }
  .section-team .container > ul {
    max-width: 100%;
  }
  .section-team .container > ul .item {
    width: 401px;
    height: 500px;
  }
  .section-team .container > ul .item picture img {
    width: inherit;
    max-height: 310px;
  }
  .section-team .container > ul .item .item-content-container > p {
    margin-bottom: 28px;
  }
  .section-team .container > ul .item ul li:nth-child(-n + 3) {
    height: 30px;
    display: table;
    padding: 5px 12px;
    margin: 0;
    border-radius: 30px;
  }
  .section-team .container > ul .item ul li p {
    display: table-cell;
    vertical-align: middle;
  }
  /* end team-section */
}
